extends layout

block content

  #page-content.container
    .row
      .col-md-9.col-sm-12.content-holder
        // CONTENT
        #menu-container
          a.site-brand
            .col-md-15.col-sm-15
              .box-content
                if (user)
                  .row.text-center
                    h3.widget-title H i , #{user.firstName}!
                  .row.text-center
                    br
                    p Logged in as : #{user.email}
        br
        hr
        br
        #root
